site_name: Voron Delta
theme:
  name: material
  language: zh
  palette:
    # accent: red
    # Palette toggle for light mode
    - scheme: default
      primary: white
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: black
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

  font:
      text: Roboto
      code: Roboto Mono

plugins:
    - search

